@tailwind base;
@tailwind components;
@tailwind utilities;
/* Old way using -ms-high-contrast */
@media screen and (-ms-high-contrast: active) {
  /* High contrast styles */
  body {
    background-color: black;
    color: white;
  }
}

/* New way using forced-colors */
@media (forced-colors: active) {
  /* High contrast styles */
  body {
    background-color: CanvasText;
    color: Canvas;
  }
}
