@tailwind base;
@tailwind components;
@tailwind utilities;
/* Old CSS using -ms-high-contrast */
@media screen and (-ms-high-contrast: active) {
  /* High contrast styles */
  body {
    background-color: black;
    color: white;
  }
}

/* New CSS using forced-colors */
@media (forced-colors: active) {
  /* High contrast styles */
  body {
    background-color: Canvas;
    color: CanvasText;
  }
}
